*{
    overflow: auto;
}

/* Daniel Martínez Eito */

header {
    top: 0;
    background-color: rgb(204, 145, 68);
    color: beige;
    border-radius: 10px; /* CSS 3*/
}

nav > a > button{
    background-color: lightgrey;
    border-radius: 10px;
}

nav>a > button{
    padding: 5px;
    background-color: saddlebrown;
    border-radius: 3px;
    flex-basis: 17%; /*CSS 3*/
    text-align: center;
    text-decoration: underline;
    color: white;
    border: 1px solid black;
    transition-property: background-color, color, flex-basis; /*CSS 3*/
    transition-duration: 0.5s; /*CSS 3*/
}

nav>a>button:hover{
    background-color: white;
    color: saddlebrown;
    flex-basis: 15%; /*CSS 3*/
}

p{
    justify-content:flex-start; /*CSS 3*/
}

main, header, footer{
    flex-basis: 100%; /*CSS 3*/
    flex-grow: 1; /*CSS 3*/
    padding: 15px;
}

.grid-container{
    left: 0;
    display: grid;
    grid-template-columns: auto auto;
}

td{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

nav {
    border-radius: 10px;
    text-align: center;
    background-color: bisque;
    
    }

footer{
    margin: 10px;
    text-align: center;
    grid-row: auto;
    border-top: solid 1px;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap; /*CSS 3*/
    justify-content: center; /*CSS 3*/
}

@media(max-width: 480px){
    nav{   
        border-radius: 10px;
        text-align: center;
        display: inline-block;
    }
}